body {
  margin: 0;
  font-family: 'Yatra One', serif;
  overflow: hidden;
}

/* INTRO */
.intro {
  position: relative;
  height: 100vh;
  width: 100%;
}

#introVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.ganesh {
  width: 120px;
  margin-bottom: 20px;
}

.shloka {
  color: #5a2e12;
  text-align: center;
}

/* PANELS */
.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BACKGROUNDS */
.haldi { background: url('assets/haldi.jpg') center/cover no-repeat; }
.ring { background: url('assets/ring.jpg') center/cover no-repeat; }
.wedding { background: url('assets/wedding.jpg') center/cover no-repeat; }
.thankyou { background: url('assets/thankyou.jpg') center/cover no-repeat; }